@charset "utf-8";

body {
  width: 650px;
  background-color: rgb(181, 224, 234);
  color: rgb(104, 104, 104);
}

h1 {
  height: 35px;
  padding: 8px 0px 0px 0px;
  margin: 0px;
  background-color: rgb(0, 180, 208);
  border-radius: 20px 20px 0px 0px;
  color: white;
  box-shadow: 0px 0px 10px rgb(205, 205, 205);
  text-align: center;
  font-size: 20px;
}


.block1 {
  height: 680px;
  width: auto;
  overflow-y: scroll;
  padding: 20px;
  border-radius: 0px 0px 20px 20px;
  box-shadow: 0px 0px 10px rgb(205, 205, 205);
  background-color: rgb(243, 243, 243);

}

.button {
  background-color: rgb(165, 221, 233);
  color: white;
  box-shadow: 0px 2px 0px rgb(109, 153, 163);
  border-radius: 10px;
  width: 40px;
  height: 30px;
  padding: 3px 0px 0px 0px;
  font-size: auto;
  text-decoration: none;
  text-align: center;
  white-space: nowrap;

  font-size: 15px;
  float: left;
  border: 1px rgb(0, 180, 208);
  margin: 0px 0px 0px 10px;
}


.button:hover {
  background: rgb(113, 152, 161);
}



.topButton {
  width: auto;
  margin: 20px 3px 0px 10px;
  color: rgb(0, 180, 208);
  text-align: center;
  background-color: transparent;
  float: right;
}

.topButton:hover {
  background: #afd9f1;
}



.text {
  height: 28px;
  width: 490px;
  background-color: rgb(245, 248, 249);
  box-shadow: 0px 0px 5px rgb(1, 147, 170);
  border-radius: 3px;
  border: 1px rgb(0, 180, 208);
  color: rgb(104, 104, 104);
  margin: 0px 5px 0px 10px;
}

.button,
.text,
label {
  float: left;
}
