<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,
    initial-scale=1">
    <link rel="stylesheet" href="static/createCompany.css" type="text/css">
    <title>企業情報</title>
</head>
<h1>企業の登録</h1>

<body>
    <div class="block1">
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul>
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}


        <form action="createCompany" method="POST">
            <tr class=flashes>
                <td><label class="color1" for="company">企業名：</label>
                    <input class="text1" type="text" id="company" name="company">
                </td><input class="button1" type="submit" value="登録" /></td>
            </tr>

        </form>

        <a class="topButton1" href="/todolist.py/create_company">戻る</a>
        <a class="topButton1" href="/todolist.py/top">トップページに戻る</a>
    </div>
</body>
